<!--<footer class="footer">
  <div class="container">
      <span class="text-muted">All Rights Reserved 2019 @Duke Energy</span>
  </div>

</footer>-->

<section id="contact-section">
  <div class="wrap-pad">
    <div class="row">
      <div class="col-md-4 "
           data-scrollreveal="enter top and move 100px, wait 0.5s">
        <div class="text-center">
          <h1><i class="fa fa-tint small-icons bk-color-black"></i>Contact us Now</h1>
          <p class="lead">
            Call 1-800-704-382-5555 for more information
          </p>
        </div>
      </div>
      <!-- ./ Heading div-->

      <div class="col-md-4">
        <h3><i class="fa fa-comments small-icons bk-color-red"></i>Reach Us Here</h3>
        550 S Tryon St, Charlotte, NC 28202<br/>
        Call: +23-00-89-009<br/>
        Email: info@duke-energy.com<br/>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-plus small-icons bk-color-green"></i>Social Presence</h3>
        <a href="#"><i class="fa fa-facebook fa-3x color-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter fa-3x color-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus fa-3x color-google-plus"></i></a>
        <a href="#"><i class="fa fa-linkedin fa-3x color-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest fa-3x color-pinterest"></i></a>
      </div>

    </div>
  </div>
</section>

<!--FOOTER SECTION -->
<footer id="footer">
  <div class="row">
    <div class="col-md-12  col-sm-12">
      &copy; 2019 Duke Energy Analytics | All Rights Reserved

    </div>
  </div>
</footer>
<!--END FOOTER SECTION -->
