
.main.row{
  margin:auto;
}

.side-half{
  background-color:#f0f0f5;
}

h1{
  margin:30px;
  font-weight: bold;
  color:#207A0F;
  font-size:5em;
}

button{
  max-width: 90%;
  margin: 20px auto  40px ;
  font-size:2.0em;
  font-weight:bold;
}

.main{
  max-width: 90%;
  margin: 50px auto;
}

.form-group {
  font-size: 1.5em;
  color:#207A0F;
  font-weight: bold;
  text-align:center;
}

input {
  font-size: 1.3em;
  font-weight: bold;
  color: #52b6ec;
  text-align:center;
}

.calc-result {
  margin:0 0 50px 0;
}

.result-group{
  font-size:2em;
  color:red;
  font-weight:bold;
}

.result-text-box{
  font-size: 1em;
  color:red;
  font-weight:bold;
  text-align:center;
}


